.content {
    padding: 1.5em;

    h1 {
        // margin-top: 0.75rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    &__type {
        display: block;
        margin-bottom: 0.75rem;
        letter-spacing: 0.3125rem;
        font-weight: 500;
        color: $aurometalSaurus;
    }

    &__body {
        color: $aurometalSaurus;
        line-height: 1.5;
        margin-bottom: 1.5em;
        margin-top: 0;
        font-weight: 500;
    }

    &__pricing {
        margin-bottom: 1.3125em;
        .pricing__now {
            margin-right: 1.1875em;
        }
        .pricing__before {
            text-decoration: line-through;
        }
    }

    &__cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        margin: 0;
        color: $pureWhite;
        background-color: $deepAquamarine-light;
    }
}
