*,
*::before,
*::after {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: Montserrat, sans-serif;
    font-size: $font-sm;
    font-weight: 400;

    color: $aurometalSaurus;
    background-color: $cream;
}

//Images
picture {
    max-width: 100%;
}

img {
    max-width: 100%;
    display: block;
    width: "21.4375em";
    height: "15em";
}

// /* Typography */
h1,
strong {
    font-family: Fraunces, sans-serif;
}

h1 {
    font-weight: 700;
    font-size: $font-xlg;
    color: $gunMetal;
}

strong {
    font-size: $font-xlg;
    color: $deepAquamarine-light;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    border: 1px solid magenta;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    &__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include breakpoint-up(medium) {
        flex-direction: row;
    }
}

/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
