*,
*::before,
*::after {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: Montserrat, sans-serif;
    font-size: $font-sm;
    font-weight: 400;

    color: $aurometalSaurus;
    background-color: $cream;
}

//Images
picture {
    max-width: 100%;
}

img {
    max-width: 100%;
    max-height: 700px;
    display: block;
    // width: 21.4375rem;
    // min-height: 15rem;
}

// Buttons and Anchor tags
.btn {
    // border: 1px solid black;
    padding: 1em 2em;
    // margin: 0 1em;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

a:focus {
    background-color: $deepAquamarine-dark;
}

// /* Typography */
h1,
strong {
    font-family: Fraunces, sans-serif;
}

h1 {
    font-weight: 700;
    font-size: $font-xlg;
    color: $gunMetal;
    margin-bottom: 0;
}

strong {
    font-size: $font-xlg;
    color: $deepAquamarine-light;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
    // padding: 1em;
}

.container {
    // border: 1px solid magenta;
    width: 90%;
    // max-width: 28.125rem;
    max-width: 460px;

    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__flex {
        // border: 3px solid orange;
        display: flex;
        flex-direction: column;
        // align-items: center;
    }

    @include breakpoint-up(medium) {
        flex-direction: row;
        max-width: 37.5rem;
        max-height: 450px;
    }
}

/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
