.item {
    background-color: $pureWhite;
    max-width: 343px;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
    }

    &__content > * {
        margin: 0;
    }
}
