//Primary
$deepAquamarine-light: #3d8168;
$aurometalSaurus: #6c7289;
$gunMetal: #1c232b;

//Neutral
$pureWhite: #ffffff;
$cream: #f2eae2;

//Active State Colors
$deepAquamarine-dark: #1b4133;

//Font Sizes
$font-xsm: 0.5625rem; //9px
$font-sm: 0.875rem; // 14px
$font-lg: 1.5625rem; // 25px
$font-xlg: 1.8125rem; //30px (NOTE: change to 29px if 30 looks too big)
