  $primary-background-color: hsl(30, 38%, 92%);
  $primary-btn-color: hsl(158, 36%, 37%);

  $active-btn-color: hsl(158, 42%, 18%);

  $neutral-font-dark: hsl(212, 21%, 14%);
  $neutral-font-mid: hsl(228, 12%, 48%);
  $neutral-font-light: hsl(0, 0%, 100%);

  $breakpoint-mobile: 375px;

/* The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Fraunces;
  font-size: 14px;
  background-color: $primary-background-color;

}
  
  /* Typography */
  h1,
  strong {
    font-size: 32px;
    font-weight: 700;
  }
  p {
    color: hsl(288, 12%, 48%);
  }

  /* Buttons */
  /* .btn {
    color: white;
    display: block;
    background-color: var(--primary-btn-color);
    padding: 1rem 2.5rem;
    text-decoration: none;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: var(--secondary-btn-color);
  } */
  .content {
    color: purple;
  }
  
  
  
  @media (min-width: $breakpoint-mobile) {
    .container {
      padding: 5rem;
    }
  }
  
  /* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
  